.heading {
	font-size: 35px;
	color: #414142;
	text-align: center;
	line-height: 1.8;}

.subheading {
	font-size: 30px;
	color: #414142;
	text-align: center;
	line-height: 2.2;	
	}

.subheading2 {font-size: 20px;
	color: #414142;
	text-align: left;
	}
.subheading3 {font-size: 17px;
	color: #414142;
	text-align: left;}

p { font-size: 15px;
	color: grey;
	text-align: left;}